@charset "UTF-8";
@font-face {
    font-family: Metal;
    src: url("../font/CloisterBlack.ttf");
}

/*Box Sizing*/

* {
    box-sizing: border-box;
}

/*Todas las imágenes se ajustan al contenedor*/
img {
	max-width: 100%;
	height: auto;
}

/*Una imagen específica*/
header img {
	max-width: 7%;
	height: auto;
}

/*Fuente*/
header > h1 {
	font-size: 4em;
	font-family: Metal;
}

/*Box Model*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Flotantes*/
[class*="col-"] {
    float: left;
    /*border: 1px red solid;*/
}

/*Alineación de la cabecera*/
header {
    text-align: center;
}

/*El último elemento completa los elementos flotantes*/
footer {
	clear: both;
    text-align: center;
}


/* MEDIA QUERY */
/* [321,480]*/
@media only screen and (max-width : 480px) {
	[class*="col-"] {
		width: 100% !important;
	}

	header {
    	margin-left: 0%;
	}

	header h1 {
		font-size: 300%;
	}

	header img, nav, article > div > img, aside  {
		display: none;
	}

	section {
		margin-left: 0%;
	}

	article {
		background-color: #e0e0e0;
	}

	article:hover {
		background-color: #c0dbea;
		cursor: pointer;
	}

	article > div > h1 {
	    font-size: 1em;
	    padding-left: 3%;
	    padding-right: 1%;
	}

	article > div > h2 {
		font-size: 1em;
		border-bottom: none;
	}

	footer {
		font-size: .8em;
		font-style: italic;
	}

	article div.cabecera-articulo, article div.contenido-articulo  {
		height: auto;
	}
}


